/*-- scss:defaults --*/
$small-font-size:             .80rem !default;
$code-font-size:              .85em !default;
$primary:                     #1f5e3a !default;

/*-- scss:rules --*/

code {
  color: #02577A;
}
